<h1>User Details</h1>
{{>userlist}}


{{!--
{{#each users}}
<ul>
    <li><strong>Name:</strong>{{firstname}} {{lastname}}</li>
    <li><strong>Email:</strong>{{email}}</li>
    <li><strong>Address:</strong>
        {{address}}<br>
        {{city}}, {{state}} <br>
        {{zip}}
    </li>
</ul>
{{/each}} --}}